* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
ul {
  list-style-type: none;
}
h1 {
  font-size: 20px;
}
